@model IEnumerable<SZPushService.Model.Message>

@{
    ViewBag.Title = "Index";
}

<div>
    @Html.ActionLink("Config", "Key", null, new { @class = "btn btn-default navi" })
</div>

@foreach (var item in Model)
{
    @Html.Raw(item.Html)
    <hr />
}